<h1> We all love DL 172. That's why we want to help it blossom! </h1>
<% unless @suggestions.count == 0 %>
	<% @suggestions.each do |suggestion| %>
	<tr>
		<td><%= suggestion.comment %></td>
		<td><%= link_to 'X', suggestion_path(suggestion),
						method: :delete, data: { confirm: 'Are you sure?'
						}%></td>

		<br/>
	</tr>
	<% end %>
<% end %>

 <%= link_to 'New Suggestion', new_suggestion_path %>
